.container{
  display:grid;
  grid-template:"leftbar topmiddle ";
              
                
  grid-template-columns: 213px 1fr; 
  grid-template-rows: 199vh;
   margin:0 auto;
}
body{
  background-color:#f5d3b3
  ;
  
}
.logo{
  margin-bottom:1em;
}

.b{
  grid-area:leftbar;
  width: 150px;
  display: inline-block;
  height: 50px;
  margin-top:1em;
  position: relative;
  padding:5px;
}

.lab{
  font-size:150%;
}

button.b{
  
  background:lightgrey;
  font-family:Helvetica;
  font-weight: bold;
  border-radius: 5px;
  width:200px;
  padding:0 auto;
  position: relative;
  border-color:blue;
  text-align: center;
  
}
button.b:hover{
 opacity: .8;
}

.leftside{
  grid-area: leftbar;
  height:100%;
  background-size:cover;
  background-color:#eb7c32;
  border-radius: 5px;
  float:left;
}

.inputform{
  border-style:solid;
  grid-area:topmiddle;
  width:800px;
  height:350px;
  border-color:#eb7c32;
  margin-left:3em;
  background-color: #f1d3be;
  display:grid;
  grid-template:"topleft topright "
                "bottomleft bottomright ";
  
               
}

  button.bChange{
  grid-area: bottomright;
  margin-left:10em;
  background:lightgrey;
  font-family:Helvetica;
  font-weight: bold;
  border-color:blue;
  border-radius: 5px;
  margin-top:5em;
  width:200px;
  height:20%;
  padding:10px;
  position: relative;
  text-align: center;

}

.inputboxpassword{
  grid-area:topright;
  height:25px;
  width:20em;
  border-color:blue;
  
}

.newpassword{
  grid-area:bottomright;
  margin-bottom:6em;
  
}

.oldpassword{
  grid-area:topright;
  margin-top:6em;
}
